* {
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
}
body {
  background-color: #F2FFFE;
  font-family: 'Open Sans', sans-serif;
}

/* responsive classes */
.in-desktop {
  display: block;
}
.in-mobile {
  display: none;
}

@media only screen and (max-width: 768px) {
  .in-desktop {
    display: none;
  }
  .in-mobile {
    display: block;
  }
}

/* end responsive classes */
.navbar {
  padding: 0.3rem 5rem;
  height: 46px;
}

.mobile-container {
  margin-top: 60px;
}

.flex-navbar {
  display: flex;
}

.flex-button {
  flex-grow: 1;
}

.active {
  z-index: 1;
}

.burger-menu > li {
  list-style: none;
}

.navmenu > li {
  list-style: none;
  display: inline-block;
}

.custom-split {
  width: 20%;
}

.charge-form-button {
  border-radius: 5px;
}

.sidebar-user-container {
  width: 100%;
}

.sidebar-user {
  margin: 5% 0%;
}

.sidebar-user-image {
  width: 15%;
  height: 15%;
}

.sidebar-user-name {
  display: inline-block;
  margin-left: 10%
}
