* {
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
}
body {
  background-color: #F2FFFE;
  /*background-color: rgba(98, 133, 151, 0.15);
  background-image: url(images/fallback-gradient.png); 
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(98, 133, 151, 0.15)), to(#F2FFFE));
  background-image: -webkit-linear-gradient(top, rgba(98, 133, 151, 0.15), #F2FFFE); 
  background-image: -moz-linear-gradient(top, rgba(98, 133, 151, 0.15), #F2FFFE);
  background-image: -o-linear-gradient(top, rgba(98, 133, 151, 0.15), #F2FFFE);
  min-height: 100%;
  height: auto;*/
}

/* responsive classes */
.in-desktop {
  display: block;
}
.in-mobile {
  display: none;
}

@media only screen and (max-width: 768px) {
  .in-desktop {
    display: none;
  }
  .in-mobile {
    display: block;
  }
}

/* end responsive classes */
.navbar {
  margin-bottom: 30px;
  padding: 0.3rem 5rem;
  min-height: 46px;
}

.mobile-container {
  margin-top: 60px;
}

.flex-navbar {
  display: flex;
}

.flex-button {
  flex-grow: 1;
}

.active {
  z-index: 1;
}

/*
React Burger Menu Styles:
*/
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 20px;
  top: 20px;
  display: none;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
/*
 End React Burger Menu Styles:
*/

.burger-menu > li {
  list-style: none;
}

.navmenu > li {
  list-style: none;
  display: inline-block;
}

